.description2 {
    color: #9A9A9A;
    font-size: 12px !important;
}

h5.title {
    font-size: 18px !important;
}

.file-upload {
    border-radius: 50px;
}

h6 {
    font-size: 12px !important;
    color: #f96332 !important;
}