<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Editar Usuário</h5>
        </div>

        <div class="card-body">
          <form [formGroup]="formUsuario" (ngSubmit)="editaUsuario()" *ngIf="usuario">
            <div class="row">
              <div class="col-md-12">

                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                  <li [ngbNavItem]="1">
                    <a ngbNavLink>Dados Básicos</a>
                    <ng-template ngbNavContent>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group"
                            [ngClass]="{'has-success': formUsuario.controls['name'].valid, 'has-error': formUsuario.controls['name'].invalid && (formUsuario.controls['name'].touched || formUsuario.controls['name'].dirty)}">
                            <label>Nome</label>
                            <input type="text" class="form-control" formControlName="name"
                              [ngClass]="{'is-invalid': formUsuario.get('name').errors && formUsuario.get('name').touched}">
                            <div *ngIf="formUsuario.get('name').hasError('required') && formUsuario.get('name').touched"
                              class="invalid-feedback">
                              Campo obrigatório!
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group"
                            [ngClass]="{'has-success': formUsuario.controls['email'].valid, 'has-error': formUsuario.controls['email'].invalid && (formUsuario.controls['email'].touched || formUsuario.controls['email'].dirty)}">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" formControlName="email"
                              [ngClass]="{'is-invalid': formUsuario.get('email').errors && formUsuario.get('email').touched}">
                            <div
                              *ngIf="formUsuario.get('email').hasError('required') && formUsuario.get('email').touched"
                              class="invalid-feedback">
                              Campo obrigatório!
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Senha</label>
                            <input formControlName="password" type="password" class="form-control" placeholder="******">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Confirmar Senha</label>
                            <input formControlName="confimarSenha" type="password" class="form-control"
                              placeholder="******">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Imagem do Perfil</label>
                            <br>
                            <div class="file-upload btn btn-info">
                              <i _ngcontent-lch-c117="" class="now-ui-icons design_image"></i>
                              <span> Selecionar Imagem</span>
                              <input type="file" class="upload" id="imagem" name="imagem"
                                (change)="carregaImagem($event)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="2" *ngIf="usuario.pessoa">
                    <a ngbNavLink>Pessoais</a>
                    <ng-template ngbNavContent formGroupName="pessoa">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Documento</label>
                            <select (change)="verificaDocumentoSelecionado($event)" formControlName="tipo_doc"
                              class="form-control">
                              <option value="" disabled>Selecione</option>
                              <option value="RG">RG</option>
                              <option value="CPF">CPF</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Número</label>
                            <input *ngIf="docSelecionadoCPF" formControlName="num_doc" mask="000.000.000-00" type="text"
                              class="form-control">
                            <input *ngIf="!docSelecionadoCPF" formControlName="num_doc" mask="00.000.000-0" type="text"
                              class="form-control">
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="form-group">
                            <label>Data Nascimento</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focusDtNasc===true}">
                              <input type="text" class="form-control" 
                              [dropSpecialCharacters]="false"
                              mask="00/00/0000"
                              formControlName="data_nasc"
                              (focus)="focusDtNasc=true" 
                              (blur)="focusDtNasc=false">
                              <div class="input-group-append">
                                  <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_calendar-60"></i>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Sexo</label>
                            <select formControlName="sexo" class="form-control">
                              <option value="" disabled>Selecione</option>
                              <option value="F">F</option>
                              <option value="M">M</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Telefone</label>
                            <input formControlName="telefone" mask="(00) 00000-0000" type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="3" *ngIf="usuario.pessoa">
                    <a ngbNavLink>Endereço</a>
                    <ng-template ngbNavContent formGroupName="pessoa">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>País</label>
                            <input formControlName="pais" (keyup)="verificaPaisSelecionado($event)" type="text"
                              class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>CEP</label>
                            <input *ngIf="paisSelecionadoBrasil" formControlName="cep" mask="00000-000"
                              (keyup)="buscaPorCEP($event)" type="text" class="form-control">
                            <input *ngIf="!paisSelecionadoBrasil" formControlName="cep" type="text"
                              class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>UF</label>
                            <input formControlName="uf" maxlength="2" type="text" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Cidade</label>
                            <input formControlName="cidade" type="text" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Endereço</label>
                            <input formControlName="endereco" type="text" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Bairro</label>
                            <input formControlName="bairro" type="text" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Complemento</label>
                            <input formControlName="complemento" type="text" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Número</label>
                            <input formControlName="numero" type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>

                <div class="text-right">
                  <button [disabled]="formUsuario.invalid" type="submit" class="btn btn-info btn-round">
                    Salvar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4" *ngIf="usuario">
      <div class="card card-user">
        <div class="image">
          <img *ngIf="usuario?.image !== 'sem_imagem'" src="{{usuario?.image}}" style="filter:blur(15px);" alt="">
          <img *ngIf="usuario?.image === 'sem_imagem'" src="../assets/img/sem-imagem.jpg" style="filter:blur(15px);"
            alt="">
        </div>

        <div class="card-body">
          <div class="author">
            <a href="">
              <img class="avatar border-gray" *ngIf="usuario?.image !== 'sem_imagem'" src="{{usuario?.image}}" alt="">
              <img class="avatar border-gray" *ngIf="usuario?.image === 'sem_imagem'" src="../assets/img/sem-imagem.jpg"
                alt="">
              <h5 class="title">{{usuario?.name}}</h5>
            </a>
            <p class="description">
              {{usuario?.email}}
              <br>
              {{usuario?.pessoa.cidade}}/{{usuario?.pessoa.uf}}
            </p>
          </div>
          <p class="text-center">
            <span [hidden]="usuario?.status == false" style="color:#00BCD4;"><b>Ativo</b></span>
            <span [hidden]="usuario?.status == true" style="color:#f96332;"><b>Inativo</b></span>
          </p>

          <p class="description2 text-center">
            Cadastrado em {{usuario?.created_at | date:'dd/MM/y'}} <br>
          </p>
        </div>

        <hr>
        <div class="button-container">
          <p>Funções</p>
          <h6 *ngFor="let role of usuario?.roles" href="#">
            ► {{role?.name}}
          </h6>
        </div>
      </div>
    </div>

  </div>
</div>